*{
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

/* general */

header{
  background-image: url(../img/pattern.png);
  height: 80px;
  background-size: contain;
  background-color: #4EA0FF;
}

main{
  padding: 20px;
}

/* detail */

h1{
  margin-left: 20px;
}

h3{
  padding: 0;
  margin-left: 30px;
}

h1, h3{
  color: rgb(255, 255, 255);
}

#autore{
  color: #00AAE4;
}

.didascalia{
  font-size: 8px;
}

#article{
  padding: 20px;
}

ul{
  padding: 20px;
}

#yellow{
  display: block;
  background-color: yellow;
}

thead{
  background-color: #23A9E5;
  color: white;
}

tr{
  height: 60px;
  width: 100%;
}

#row-1, #row-2{
  background-color: #B1E5F2;
}

#interest{
  color: rgba(0, 0, 0, 0.5);
}

.img{
  position: relative;
}
.name{
  position: absolute;
  color: white;
  padding: 20px;
}

.link{
  margin-top: 20px;
}