*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

/* general */

header{
  background-image: url(../img/pattern.png);
  height: 100px;
  background-size: 30%;
  background-color: #4EA0FF;
}

main{
 padding: 20px;
}

/* detail */

header img{
  width: 150px;
  margin: 40px;
}

section img{
  padding-top: 10px;
}

.gray{
  color: gray;
}

#autore{
  color: #00AAE4;
}

.didascalia{
  font-size: 8px;
  padding-bottom: 20px;
}

#article{
  padding-bottom: 20px;
}

ul{
  padding: 20px;
}

.yellow{
  background-color: yellow;
}

table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead{
  background-color: #23A9E5;
  color: white;
}

.text{
  width: 50%;
}

tbody tr{
  height: 60px;
  width: 100%;
}

#row-1, #row-2{
  background-color: #B1E5F2;
}

#interest{
  color: rgba(0, 0, 0, 0.5);
}

.img{
  position: relative;
}
.name{
  position: absolute;
  color: white;
  padding: 20px;
}

.link{
  margin-top: 20px;
}

div img{
  margin-bottom: 20px;
}